/*HOME ANIMATION*/
.introduction.anim {
  animation: slideIn 0.8s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity:  0.2;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.square1.anim {
  transform: translate(70%, 40%) rotateZ(45deg) scale(0.02);
  animation:  squareSpin 1.8s ease forwards,
  windmill1 20s linear infinite 1.7s;
}

@keyframes squareSpin {
  0% {
    transform: translate(70%, 40%) rotateZ(0deg) scale(0.02);
  }
  100% {
    transform: translate(70%, 40%) rotateZ(765deg) scale(1);
  }
}

@keyframes windmill1 {
  0% {
    transform: translate(70%, 40%) rotateZ(45deg) scale(1);
  }
  100% {
    transform: translate(70%, 40%) rotateZ(765deg) scale(1);
  }
}

.square2.anim {
  transform: translate(70%, 40%) rotateZ(65deg) scale(0.02);
  animation:  squareSpin2 1.8s ease forwards,
  windmill2 20s linear infinite 1.7s;
}

@keyframes squareSpin2 {
  0% {
    transform: translate(70%, 40%) rotateZ(65deg) scale(0.02);
  }
  100% {
    transform: translate(70%, 40%) rotateZ(785deg) scale(1);
  }
}

@keyframes windmill2 {
  0% {
    transform: translate(70%, 40%) rotateZ(65deg) scale(1);
  }
  100% {
    transform: translate(70%, 40%) rotateZ(785deg) scale(1);
  }
}

.first-box.active p {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  border-right: 4px solid #666;
  text-shadow: 0 2px 10px #834eff;
  animation: typing 1.2s,
  cursor 0.4s step-end infinite alternate;
}

.second-box.active p {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  border-right: 4px solid #666;
  text-shadow: 0 2px 10px #834eff;
  animation: typing 1.2s,
  cursor 0.4s step-end infinite alternate;
}

.third-box.active p {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  border-right: 4px solid #666;
  text-shadow: 0 2px 10px #834eff;
  animation: typing 0.8s,
  cursor 0.4s step-end infinite alternate;
}

@keyframes typing {
  from {width: 0;}
}

@keyframes cursor {
  50% {
    border-right: 4px solid transparent;
  }
}

.arrow-down {
  font-size: 20px;
  animation: forArrowDown 0.8s infinite;
}

@keyframes forArrowDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

/**ABOUT ANIMATION**/
.bio-container.anim {
  animation: fadeIn 1s ease-in forwards;
}

.picture-box2.anim {
  animation: slideInImg 1.3s ease-in-out forwards;
}

.my-journey.anim {
  animation: slideIn2 1.3s ease-in-out forwards;
}

@keyframes slideInImg {
  0% {
    transform: translateX(-200%);
  } 
  100% {
    transform: translateX(0);
  }
}

/*CONTACT ANIMATION*/
.get-in-touch {
  animation: fadeOut 1s ease-in forwards;
}

.get-in-touch.anim {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

.contact-info {
  animation: slideOut1 0.8s ease-in forwards;
}

.send-message {
  animation: slideOut2 0.8s ease-in forwards;
}

.contact-info.anim {
  animation: slideIn1 0.8s ease-in forwards;
}

.send-message.anim {
  animation: slideIn2 0.8s ease-in forwards;
}


@keyframes slideOut1 {
  0% {
    opacity: 1;
    transform: translateX(0);
  } 
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideOut2 {
  0% {
    transform: translateX(0);
    opacity: 1;
  } 
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideIn1 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  } 
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideIn2 {
  0% {
    transform: translateX(100%);
    opacity: 0;
  } 
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.contact-box.anim {
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes slideUp {
  0% { 
    transform: translateY(100%);
    opacity: 0;
  } 75% { 
    opacity: 0.3;
  } 100% {
    transform: translateY(0);
    opacity: 1;
  } 
}

