.home {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #66666662;
  padding: 20px 0;
}

.square1 {
  position: absolute;
  height: 500px;
  width: 500px;
  transform: translate(70%, 40%) rotateZ(45deg);
  background: #7a7a7a4b;
  border: 1px solid #00000054;
  box-shadow: 0 4 20px #64646469;
  border-radius: 50px;
}

.square2 {
  position: absolute;
  height: 500px;
  width: 500px;
  transform: translate(70%, 40%) rotateZ(65deg);
  border: 1px solid #00000091;
  background: #ffffff0e;
  box-shadow: 0 0 15px #00000059;
  border-radius: 50px;
}

.content-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
  z-index: 2;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 700px;
  padding: 120px 80px;
}

.picture-box {
  border-bottom: 1px solid #6666665b;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.picture-box img {
  height: 220px;
  width: 220px;
  object-fit: cover;
  object-position: 0 -60px;
  border-radius: 200px;
  border: 3px solid #66666663;
}

.introduction-box {
  display: flex;
  flex-direction: column;
}

.greeting {
  background: #6666666c;
  padding: 10px 20px;
  border-radius: 20px;
}

.text-box p {
  line-height: 24px;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-align: center;
}

.text-box span {
  font-weight: 700;
}

.social-links {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.social-links a {
  border-radius: 100px;
  background: #666;
  padding: 10px 10px 7px;
  cursor: pointer;
  transition: 0.4s ease-in;
}

.social-links a:hover {
  background: #969696;
}

.social-links img {
  height: 30px;
}

.animation-introduction {
  font-family: "Arapey", serif;
  font-weight: 600;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.animation-box {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.animation-box div {
  width: fit-content;
  display: inline-block;
  letter-spacing: 6px;
}

.first-box.hide p, 
.second-box.hide p, 
.third-box.hide p,
.last-box.hide {
  display: none;
}

@media screen and (max-width: 1000px) {
  .home {
    height: 100%;
  }
  .square1, .square2 {
    display: none;
  }
  .content-box {
    flex-direction: column;
    align-items: center;
  }
  .picture-box img {
    height: 150px;
    width: 150px;
    object-position: 0 -40px;
  }
  .introduction {
    width: 400px;
  }
  .animation-introduction {
    opacity: 0;
    display: none;
  }
}